/* CSS Document */

html, body {
  height: 100%;
  width: 100%;
    
}


/*images*/


.home-image-top {
    margin: auto;
    margin-top: 2em;
    width: 70%
    
}

.home-image-top img {
    width: 100%;
}


.home-photos-three {
    width: 70%;
   margin: auto;
    margin-top: 1.25em; 
    
}

.home-photos-three img{
    width: 31%;
    float: left;
    opacity: 1.0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out; 
} 
a:hover img { opacity: .5; 
    transition: opacity .45s ease-in-out;
    -moz-transition: opacity .45s ease-in-out;
    -webkit-transition: opacity .45s ease-in-out;
    
}


.invisible {
    min-height: 2em;
    float: left;
    margin-right: 2.25%
}


.me-photo {
    width: 30%;
    float: left;
    margin-left: 10%;
    padding-right: 2.5%;
    border-right: 1px solid grey;
    
}

.me-photo img {
    width: 100%;
}

.about-text-photo img{
    width: 32%;
    margin-top: -.5em;
}

.design-images {
    width:70%;
    margin: auto;
}

.design-images img{
    width: 31%;
    margin:.25em;
}

.photography-images {
    width:80%;
    margin: auto;
           
}

.photography-images img{
    width: 24.5%;
    display: inline-block;    
}

/*end images*/

/*Header*/


header {
    width: 100%;
    background-color: white;
    margin-top: 0em;
    border-bottom: 1px solid rgba(105,105,105, .5);
    padding-top: 1em;
    padding-bottom: 1.5em;
}


header #nav ul li {
    display: block;
    position: relative;
    float: left;
    font-size: .8em;
    font-family: 'Raleway', sans-serif;
    width: 10%;
    text-align: center;
    margin-bottom: 2em;    
} 


header #nav ul li a {
    text-decoration: none;
    color: dimgray;
}

header #nav ul li a:hover {
    color: #BC8F8F;
}

header .menu-social {
    width: 20%;
    float: right;
    text-align: right;
    
}

header .menu-social ul li{
    text-align:center;
    float: left;
    width: 16%;    
}

header .menu-social ul li a{
    text-decoration: none;
    color: dimgray;
}

header .menu-social ul li a:vistied{
   color: dimgray;
    
}

header .menu-social ul li a:hover {
     color: #BC8F8F;
}

/*End Header*/

/*Footer*/

.clear {
    min-height: .25em;
    clear:both;
    
}

footer {
    margin: auto;
    width: 100%;
    
}

footer img {
    width: 12.6%;
    margin-right: -.3em;
    margin-left: 0em;
    margin-top: .5em;
    margin-bottom: -.3em;
    
    
}

footer p {
   margin-top: 10em; 
    text-align: center;
    font-size: 1.15em;
    
}

footer ul {
    margin: auto;
    width: 100%;
    background-color: rgba(105,105,105, .2);
    padding-top: 2em;
    padding-bottom: 4em;
}

footer ul li {
    float: left;
    margin: auto;
    width: 25%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    
}

footer ul li a {
    text-decoration: none;
    color: white;
    
    
}

footer ul li a:visited {
    text-decoration: none;
    color: dimgray;  
}
 
footer .fa-facebook {
    color: white;
    padding: .55em .75em .55em .75em;
    
}

footer .fa-instagram {
    color: white;
    padding: .65em .7em .65em .7em; 
}

footer .fa-pinterest-p {
    color: white;
    padding: .6em .75em .55em .75em;
    
}

footer .fa-linkedin {
    color: white;
   padding: .65em .7em .65em .7em;   
}

footer i
{
 background-color: dimgray;
 border-radius: 50%;
 padding:10px;
}

/*end footer*/


h1 { font-size: 2.5em;
    text-align: center;
    margin-top: .5em;
    margin-bottom: .5em;
    color: dimgray;
    font-family: 'Quicksand', sans-serif;
    clear: both;
  
}

h2 {
     font-family: 'Dancing Script', cursive;
    font-size: 2em;
    color: #83b5bb;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 2em;

}

p {
    color: dimgrey;
    font-size: 1em;
    line-height: 1.4em;
    font-family: 'Raleway', sans-serif;
}

p a {text-decoration: none;
    color: #BC8F8F;
    
}

em { font-style: italic;
    
}

.about-text-photo {
    width:45%;
    float: left;
   margin-left: 2.5%;
}

.about-photos {
    float: right;
    
}



/*Form*/
.form {
    max-width: 60%;
    margin: auto;
    margin-top: 2em;
    font-family: 'Quicksand', sans-serif;
    color: rgb(105,105,105);
    
}

.form input {
    width: 100%;
    padding: 1em;
    margin-top: .5em;
    margin-bottom: 1.2em;
    box-sizing: border-box;
    background-color: rgb(250,250,250);
    border: 1px solid rgba(128,128,128, .3);
}
 
.form-name {
    width: 47.5%;
    float: left;
    
}

.form-invisible {
    min-height: 1em;
    width:5%;
    float: left;
    
}

.form-email-subject {
    clear: both;
}

.form-message input{
padding-bottom:7em;

    
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: rgb(105,105,105);
    font-family: 'Quicksand', sans-serif;
    border: none;
    color: rgb(255,255,255);
    font-size: 1em;
    padding: .75em;
    text-decoration: none;
    cursor: pointer;
    max-width: 25%
}

input[type=text]:focus {
    background-color: rgb(255,255,255);
    outline: none;
}



#copyright {
    font-size: .6em;
    margin-top:.5em;
    margin-bottom:.5em;
} 



/*For Tablets*/
@media screen and (max-width: 815px) {
 
/*Hmaburger menu */    
header #nav {
    width: 40%;
    top: 33px;
    position: absolute;
}

header #nav:before {
    content: '\2630';
    display: block;
    position: absolute;
    left: 15px;
    top: -25px;
    color: dimgray;
    line-height: 27px;
    font-size: 24px;
    cursor: pointer;
}

header #nav ul {
    background-color: dimgray;
    text-align: center;
}

header #nav ul li {
    float: none;
    padding: 20px 0 20px 0;
    margin: 0em;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,.3);
   
        
    
}

header #nav ul li a {
    font-size: 15px;
   color: white;
    z-index: 10;
    transition: 500ms ease;
    -moz-transition: 500ms ease;
    -webkit-transition: 500ms ease;
    -ms-transition: 500ms ease;
    -o-transition: 500ms ease;
}



header #nav ul {
    display: block;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 500ms ease-in-out;
    -moz-transition: 500ms ease-in-out;
    -webkit-transition: 500ms ease-in-out;
    -ms-transition: 500ms ease-in-out;
    -o-transition: 500ms ease-in-out;

    transform: perspective(0) rotate3d(0, 0, 0, 0);
    -moz-transform: perspective(0) rotate3d(1, 0, 0, -90deg);
    -ms-transform: perspective(0) rotate3d(0, 0, 0, 0);
    -o-transform: perspective(0) rotate3d(0, 0, 0, 0);
    -webkit-transform: perspective(0) rotate3d(1, 0, 0, -90deg);

    transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    -webkit-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    -o-transform-origin: 100% 0%;
}

header #nav.open ul {
    height: auto;
    opacity: 1;
    transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -webkit-transform: translateY(8px);
}
 
 /*end hamburger menu*/  
 
.design-images {
    width:80%;
} 
    
.design-images img {
     width: 30%;   
    }    
    
.photography-images{
    width: 85%;     
}   
    
.photography-images img{
    width: 32.5%;     
}
    
h1 {
    font-size: 2em;
    } 

h2 {font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: .75em;
        
    }    
    
p {font-size: .8em;    
    } 

/*Header*/    
header .menu-social {
    width: 40%;
    }

/*Footer*/    
footer p{
    font-size: .9em;
       margin-top: 4em; 
    }    

footer ul li a {
    font-size: .75em;   
} 
    
footer ul {
    padding-top: 1.5em;
    padding-bottom: 3em;
}    
    

.home-image-top {
   width:85% 
}

.home-photos-three {
    width: 85%;
}

.me-photo {
    width: 30%;
    margin-left: 7.5%;
    }
  
.about-text-photo {
     width: 50% ;  
    }   
    
}


/*For iPhone*/
@media screen and (max-width: 414px) {

    
/*Hmaburger menu */    
header #nav {
    width: 100%;
    top: 33px;
    position: absolute;
    right: 0;
}



header #nav ul li {
    margin-top: 10px;
 
}

 /*end hamburger menu*/  
   
    
.photography-images {
    width:85%
    }
    
.photography-images img{
    width: 100%;     
}
    
h1 {
    font-size: 1.75em;
    } 

h2 {font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: .75em;
        
    }    
    
p {font-size: .8em;    
    } 
 
/*About page*/    
.me-photo {
    width: 60%;
    clear: both;
    margin-left: 20%;
    margin-bottom: 1em;
    padding-right: 0%;
    border-right: 0px;
    
}
       
.about-text-photo {
    width:80%;
    clear: both;
   margin-left: 10%;
}
    
/*Home Images*/    
.home-image-top {
    margin-top: 1em;
    width: 85% 
}

.home-photos-three {
    clear: both;
    width: 50%;
    margin: auto;
    margin-top: .3em; 
    
}

.home-photos-three img{
    width: 100%;
    margin-top: .5em;
}

.design-images {
    width:75%;
   
}      
    
.design-images img{
    width:100%;
   margin: 0em;
}      
  
   
/*Header*/    
header .menu-social{
    width: 55%;
    }

/*Footer*/    
footer p{
    margin-top: 4em; 
    margin-bottom: .5em;
    }    

footer ul li a {
    font-size: .75em; 
} 
    
footer ul {
    padding-top: 1em;
    padding-bottom: 2.5em;
}    
    
footer img {
    width: 24.5%;
    margin-top: 0em;
}  


    
}